#loginForm {
    padding: 0;
}

@media only screen and (max-width: 600px) {

    html, body {
        background: #4db6ac;
    }

    #loginForm {
        background: #F8F8F8;
    }

    #loginInfo {
        background: #4db6ac;
    }
}

.floatButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    z-index: 400;
}

.floadLoading {
    position: absolute;
    top: 20px;
    right: 60px;
    padding: 10px;
    z-index: 400;
}

.link {
    opacity: 0.8;
}

.link:hover {
    color: #009688;
  }