.m-0{margin: 0px;}
.m-1{margin: 25px;}
.m-2{margin: 50px;}
.m-3{margin: 75px;}
.m-4{margin: 100px;}
.mt-0{margin-top: 0px;}
.mt-1{margin-top: 25px;}
.mt-2{margin-top: 50px;}
.mt-3{margin-top: 75px;}
.mt-4{margin-top: 100px;}
.mb-0{margin-bottom: 0px;}
.mb-1{margin-bottom: 25px;}
.mb-2{margin-bottom: 50px;}
.mb-3{margin-bottom: 75px;}
.mb-4{margin-bottom: 100px;}
.ml-0{margin-left: 0px;}
.ml-1{margin-left: 25px;}
.ml-2{margin-left: 50px;}
.ml-3{margin-left: 75px;}
.ml-4{margin-left: 100px;}
.mr-0{margin-right: 0px;}
.mr-1{margin-right: 25px;}
.mr-2{margin-right: 50px;}
.mr-3{margin-right: 75px;}
.mr-4{margin-right: 100px;}



@media only screen and (min-width: 600px) {
    .m-m-0{margin: 0px;}
    .m-m-1{margin: 25px;}
    .m-m-2{margin: 50px;}
    .m-m-3{margin: 75px;}
    .m-m-4{margin: 100px;}
    .mt-m-0{margin-top: 0px;}
    .mt-m-1{margin-top: 25px;}
    .mt-m-2{margin-top: 50px;}
    .mt-m-3{margin-top: 75px;}
    .mt-m-4{margin-top: 100px;}
    .mb-m-0{margin-bottom: 0px;}
    .mb-m-1{margin-bottom: 25px;}
    .mb-m-2{margin-bottom: 50px;}
    .mb-m-3{margin-bottom: 75px;}
    .mb-m-4{margin-bottom: 100px;}
    .ml-m-0{margin-left: 0px;}
    .ml-m-1{margin-left: 25px;}
    .ml-m-2{margin-left: 50px;}
    .ml-m-3{margin-left: 75px;}
    .ml-m-4{margin-left: 100px;}
    .mr-m-0{margin-right: 0px;}
    .mr-m-1{margin-right: 25px;}
    .mr-m-2{margin-right: 50px;}
    .mr-m-3{margin-right: 75px;}
    .mr-m-4{margin-right: 100px;}
}


@media only screen and (min-width: 992px) {
    .m-l-0{margin: 0px;}
    .m-l-1{margin: 25px;}
    .m-l-2{margin: 50px;}
    .m-l-3{margin: 75px;}
    .m-l-4{margin: 100px;}
    .mt-l-0{margin-top: 0px;}
    .mt-l-1{margin-top: 25px;}
    .mt-l-2{margin-top: 50px;}
    .mt-l-3{margin-top: 75px;}
    .mt-l-4{margin-top: 100px;}
    .mb-l-0{margin-bottom: 0px;}
    .mb-l-1{margin-bottom: 25px;}
    .mb-l-2{margin-bottom: 50px;}
    .mb-l-3{margin-bottom: 75px;}
    .mb-l-4{margin-bottom: 100px;}
    .ml-l-0{margin-left: 0px;}
    .ml-l-1{margin-left: 25px;}
    .ml-l-2{margin-left: 50px;}
    .ml-l-3{margin-left: 75px;}
    .ml-l-4{margin-left: 100px;}
    .mr-l-0{margin-right: 0px;}
    .mr-l-1{margin-right: 25px;}
    .mr-l-2{margin-right: 50px;}
    .mr-l-3{margin-right: 75px;}
    .mr-l-4{margin-right: 100px;}
}
