input, input:focus { 
    background-color: white;
}

input.geocoder-control-input {
    margin-right: 23px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    box-sizing: unset;
    z-index: 5;
}